p{
  font-size: 25px;
}
section{
  width: 95%;
  height:500px;
  border-style:solid;
  margin-left: 45px;
  margin-right:15px;
}
#dispalyMessages{
  font-weight:bold;
  text-align:left;
}
body{
  background-image:url("https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149005675.jpg?w=1380&t=st=1661494735~exp=1661495335~hmac=a9aaab40e2afeb4239115f50887d159dfebe7083269a2d91460f035ee7044e62");
  background-size:cover;
}

h1{
text-align:center;
}

label{
  font-size: 25px;
}
button{
  margin-top:8px;
  font-size:20px;
  text-align:center;
  margin-left: 30%;
}
